*{
	font-size: 12px;
}
p{
	padding: 0px;
	margin: 0px;
}
.help-block.form-error{
	display: none;

}
.success{
	color: white;
	border:solid 1px green;
	border-radius: 5px;
	padding:5px;
	background: rgba(0,255,0,0.2);
}
.failed{
		color: white;
	border:solid 1px green;
	border-radius: 5px;
	padding:5px;
	background: rgba(255,0,0,0.2);
}
.errors{
	display: none;
}
.panel-title{
	padding: 10px 0px;
}
.no_padding_left{
	padding-left: 0px;
}
.no_padding_right{
	padding-right: 0px;
}
.no_padding{
	padding: 0px;
}
.container{
		max-width: 970px;
	}
.deal_box{
	float: left;
	margin-bottom: 25px;
	padding: 0px 10px;
	width: 320px;

}
.deal_box .deal_title{
	padding: 10px;
	font-size: 16px;
	border-top: solid 1px #e5e5e5;
}

.deal_container{
	border:solid 1px #e5e5e5;
		border-radius: 6px 6px 6px 6px;
}
.deal_container .deal_image{
	border-radius: 5px 5px 0px 0px;
}
.deal_container:hover{
 box-shadow: 0px 0px 6px #666;
}
.deal_container:hover .deal_info{

}
.deal_info{

	height: 30px;
	padding: 5px 10px;
	margin: 0px;
	color:#000;
	font-weight: bold;
	text-align: center;
	line-height: 32px;
	height: 45px;
}
.deal_info .discount{
	font-weight: normal;
}
.deal_info i{
	padding: 8px;
	border:solid 1px #ccc;
	border-radius: 3px;
	margin-right: 5px;
}
#deal_gallery{
	width: 522px;
	float: left;
}
#deal_gallery_thumb{
	margin-top: 10px;
}
#deal_gallery_thumb a{
	margin-right:4px;
	padding: 0px;
	float: left;
}
#deal_gallery_thumb img{
	margin:0px;
	padding: 2px 0px ;
}
#deal_deatil{
 width: 300px;
 float: right;
 margin-left: 20px;
}
#deal_deatil .deal_title{
	margin-top: 0px;
}
#deal_deatil .input-group-addon{
	width: 80px;
	text-align: left;
}

#deal_deatil .price{
	text-align: center;
}
.deal_share{
	margin: 20px 0px;
	border-radius: 5px;
	border:solid 1px #ccc;
}
.deal_share p{
	padding: 8px;
}
.deal_share .share_title{
	background-color: #ccc;
	
	margin:0px;
	font-weight: bold;
	border-radius: 4px 4px 0px 0px;
}
#similar_deals .deal_box{
	position: static;
	float: none;
	clear: both;
	padding: 0px;
	width: 100%;
}
#deal_description{
	clear: both;
	margin-top: 50px;
	border:solid 1px #e5e5e5;
	border-radius: 5px;
	padding: 0px 15px;
}
#deal_description p{
 line-height: 20px;
 padding: 5px 0px;
}
#cart_modal table{
	width: 100%;
	padding: 3px;
}

#cart_modal table thead td{
	padding: 10px 10px;
	text-align: center;
	font-weight: bold;
	white-space: nowrap;
}

#cart_modal table tbody td{

	border-bottom: dotted 1px #ccc
	}
#cart_modal td{
	padding: 10px 10px;
}
#cart_modal .qty{
}
#cart_modal img{
	width: 100px;
	height: 100px;
}
#cart_modal .item{
	width: 100%;
}
#cart_modal .price{
}
#cart_modal .total{
}
#cart_totals{
	border:dotted 1px #ccc;
}
#cart_totals p{
	font-weight: bold;
	padding: 10px;
}
#cart_totals p span{
	display: inline-block;
	float: right;
}
#cart_totals p:last-child{
	background: #ccc;

}
.my_cart_slider .panel-title{
	padding-left: 15px;
}

nav{
	padding: 0px;
	margin: 0px;
	background-color: #e5e5e5;
	margin-bottom:15px;
}

nav ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
nav ul li{
	display: inline-block;
	background-color: #e5e5e5;
	margin: 0px;
	float: left;
}

nav ul li:hover{
	background-color: #ccc;
}
nav ul li a{
	font-weight: bold;
	color:black;
	display: block;
	padding: 15px 25px;
}
nav ul li a:hover{
	text-decoration: none;
}
@media only screen and (max-width: 1200px) {
	.container{
		max-width: 940px;
	}
  
 	#deal_deatil{
 	width: 300px;
   }
   #deal_gallery{
   	width: 480px;
   }
     .deal_box{
  	width: 313px;
  }
}

@media only screen and (max-width: 992px) {
   .container{
		max-width: 940px;
	}
   .deal_box{
  	width: 250px;
   }
  	#deal_deatil{
 	width: 300px;
   }
   #deal_gallery{
   	width: 400px;
   }
}

@media only screen and (max-width: 768px) {
	.container{
		width: 500px;
	}
  
  	  	#deal_deatil{
 	width: 100%;
 	margin-left: 0px;
   }
   #deal_deatil select{
	width: 100%;
	}
   #deal_gallery{
   	width: 100%;
   }
}

@media only screen and (max-width: 550px) {
	.container{
		width: 400px;
	}
  
	 .deal_box{
	  	width: 100%;
	  }
  	#deal_deatil{
 	width: 100%;
 	margin-left: 0px;
   }
   #deal_gallery{
   	width: 100%;
   }
   #deal_deatil select{
	width: 100%;
	}
}

@media only screen and (max-width: 400px) {
	.container{
		width: 300px;
	}
  	.deal_box{
  		width: 300px;
  	}
  	.deal_container .deal_image{
  		width: 300px;
  		height: 278px;
  	}

}
.box-step {
    border: 1px solid #cdcdcd;
    font-size: 10pt;
    margin-top: 30px;
    padding: 30px 28px;
    padding-bottom: 5px;
    position: relative;
}
.box-step h3 {
    background: white none repeat scroll 0 0;
    display: inline-block;
    font-size: 17pt;
    font-weight: normal;
    left: 21px;
    line-height: 28px;
    padding-right: 10px;
    position: absolute;
    text-transform: uppercase;
    top: -40px;
}
 h3 strong {
    background: #cdcdcd none repeat scroll 0 0;
    border-radius: 50%;
    color: white;
    display: inline-block;
    height: 30px;
    margin-right: 2px;
    text-align: center;
    width: 30px;
}
#log_in_page{
	box-shadow: none;
}
#user_nav{
	background: #000;
}
#user_nav ul{
	display: inline-block;
	float: right;
	color: #fff;
	padding: 0px;
	margin: 0px;
}
#user_nav ul li{
	display: inline-block;
	float: left;
	list-style: none;
	padding: 10px;
}
#user_nav ul a{
	color: #ccc;
	text-decoration: none;
}
#empty_cart h3{
	position: static;
}


/*************** My Account *****************/
#myAccount{

}
#myAccount .tab-content{
	border:solid 1px #ccc;
	border-top: none;
	padding: 15px;
}

#myAccount .address{
	border:solid 1px #ccc;
	padding:10px;
}
#myAccount .address_action{
	position: absolute;
	opacity: 1;
	top: 7px;
	right: 3px;
}

#myAccount .address_action span{
	cursor: pointer;
	padding: 5px;
}
#myAccount .address_action span:hover{
	background: #ccc;
	border-radius: 3px;
	padding: 5px;
}
#myAccount .address_action .address_edit{
	color: #006633;
}
#myAccount .address_action .address_delete{
	color: #f00;
}